# Ignorar node_modules y carpetas de construcción
node_modules/
dist/
build/

# Ignorar archivos de entorno y logs
.env
*.log

# Ignorar carpetas de salida de Electron
release-builds/

# Ignorar archivos de MySQL y backups
master-data/*.sock
master-data/*.cnf
master-data/*.index
master-data/ib_buffer_pool
backup-data/*.sql

slave-data/mysql.sock

# Ignorar archivos con # en el nombre (en cualquier subdirectorio)
master-data/#*
slave-data/#*

# Ignorar archivos temporales y redo logs
master-data/#innodb_redo/
master-data/#innodb_temp/
slave-data/#innodb_redo/
slave-data/#innodb_temp/